html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size:20px;
    overflow: hidden;
}
ol,ul,li{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
/* .page{
    height: 100%;
} */
.page,.page-item{
    height: 100%;
}
.page{
    /* overflow: hidden; */
    position: relative;
    left: 0;
    top: 0;
}
.page-item{
    background-color:rgb(13, 165, 214);
}